{% extends 'AwsEntityProvider.base.yaml.njk' %}

{% set entityName = additionalData.clusterName | arn_to_name %}
{% set entityType = additionalData.clusterTypeValue or "eks-cluster" %}
{% set entityTitle = accountId + ":" + region + ":" + data.name | sanitize_name_dashes_only %}

{% block title %}
{% if data.name %}
{{ super() }}
{% endif %}
{% endblock %}

{% block additionalAnnotations %}
    {% if data.name %}
    "kubernetes.io/x-k8s-aws-id": "{{ data.name }}"
    {% endif %}
    "kubernetes.io/auth-provider": "aws"
{% endblock %}