{% extends 'AwsEntityProvider.base.yaml.njk' %}

{% set entityName = data.VolumeId %}
{% set entityTitle = data.Tags | find_name_tag(data.VolumeId) %}
{% set entityType = 'ebs-volume' %}

{% block additionalMetadata %}
  {% if data.Size %}
  size: {{ data.Size }}
  {% endif %}
  {% if data.VolumeType %}
  volumeType: {{ data.VolumeType }}
  {% endif %}
  {% if data.AvailabilityZone %}
  availabilityZone: {{ data.AvailabilityZone }}
  {% endif %}
  {% if data.State %}
  state: {{ data.State }}
  {% endif %}
  {% if data.Encrypted is defined %}
  encrypted: {% if data.Encrypted %}'Yes'{% else %}'No'{% endif %}
  {% endif %}
  attachedInstanceIds: "{{ data.Attachments | instance_ids }}"
  {% if data.CreateTime %}
  createTime: "{{ data.CreateTime.toISOString() }}"
  {% endif %}
{% endblock %}
