{% extends 'AwsEntityProvider.base.yaml.njk' %}

{% set entityKind = "User" %}
{% set entityName = data.Arn | arn_to_name %}
{% set entityTitle = data.UserName %}
{% set apiVersion = "backstage.io/v1alpha1" %}

{% block additionalSpec %}
  profile:
    displayName: "{{ data.Arn }}"
    email: "{{ data.UserName }}"
  memberOf: []
{% endblock %}

{# No owner on users #}
{% block owner %}{% endblock %}
