name: CI tests

on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  e2e-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version:
          - 22
          - 24

    env:
      CI: true
      NODE_ENV: development

    steps:
      - uses: actions/checkout@v4
        with:
          # yarn lint (backstage-cli repo lint) uses this
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          cache: yarn
          node-version: ${{ matrix.node-version}}

      - name: Log node version
        run: node --version

      - name: Install dependencies
        uses: backstage/actions/yarn-install@v0.5.9
        with:
          cache-prefix: ${{ runner.os }}-v${{ matrix.node-version }}

      - name: Run tsc
        run: yarn tsc

      - name: Run build
        run: yarn build

      - name: Playwright Tests
        run: npx playwright install --with-deps chromium

      - name: Make playwright/.auth dir
        run: mkdir -p playwright/.auth && echo '{}' > playwright/.auth/login.json

      - name: Run Playwright tests
        run: |
          npx playwright test
        working-directory: .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload playwright report to GitHub Actions Artifacts
        if: ${{ failure() }}
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report-${{ matrix.node-version }}
          path: playwright-report
          retention-days: 1

  verify:
    env:
      NODE_OPTIONS: --max-old-space-size=4096

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version:
          - 22
          - 24

    steps:
      - uses: actions/checkout@v4
        with:
          # yarn lint (backstage-cli repo lint) uses this
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          cache: yarn
          node-version: ${{ matrix.node-version}}

      - name: Log node version
        run: node --version

      - name: Install dependencies
        uses: backstage/actions/yarn-install@v0.5.9
        with:
          cache-prefix: ${{ runner.os }}-v${{ matrix.node-version }}

      - name: Lint
        run: yarn lint

      - name: Run prettier
        run: yarn prettier --check .

      - name: Run tsc
        run: yarn tsc

      - name: Run build
        run: yarn build

      - name: Run test
        run: yarn test
